{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block blocktitle %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include 'components/navbar.html' %}

    <div class="cont_min_page">
      {% block content %}

      {% endblock %}
    </div>

    {% include 'components/footer.html' %}
  </body>
</html>
