{% load static %}
<header>
  <div class="logo">
    <a href="{% url 'home' %}">
      <img src="{% static 'svg/real-madrid-c-f.svg' %}" alt="Реал Мадрид" />
    </a>
    <h1>Реал Мадрид</h1>
  </div>

  <nav class="navigations">
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'about' %}">О нас</a>
    <a href="{% url 'contacts' %}">Контакты</a>
    <a href="{% url 'news_list' %}">Новости</a>

    {% if request.user.is_authenticated %}
      {% if request.user.is_staff or request.user.is_superuser %}
        <a href="{% url 'admin_view' %}">Admin Page</a>
      {% endif %}
      <a href="{% url 'logout_acc' %}">Выйти</a>
    {% else %}
      <a href="{% url 'register_acc' %}">Регистрация</a>
      <a href="{% url 'login_acc' %}">Войти</a>
    {% endif %}
  </nav>

  <form class="search-form" action="{% url 'home' %}" method="GET">
    <input type="text" name="search" placeholder="Поиск" value="{{ request.GET.search|default:'' }}" />
    <button type="submit">🔍</button>
  </form>
</header>
