{% extends 'base.html' %}
{% load static %}

{% block blocktitle %}
  Создать группу
{% endblock %}

{% block content %}
  <h1>Добавить новую группу</h1>

  <div class="container" style="margin-bottom: 20px;">
    <a href="{% url 'custom_admin:create_student' %}">
      <button type="button" class="back-btn">⬅ Назад</button>
    </a>
  </div>

  <div class="student_form">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="student_form_button">
        <button type="submit" class="submit-btn">Создать группу</button>
      </div>
    </form>
  </div>
{% endblock %}
