{% extends 'base.html' %}
{% load static %}

{% block blocktitle %}
  Admin Dashboard
{% endblock %}

{% block content %}
  <main class="cont_min_page">
    <div class="content-block">
      <h1>Добро пожаловать, {{ user.username }}!</h1>
      <p>Используйте кнопки ниже для управления студентами, группами и тегами..</p>
    </div>

    <div class="content-block" style="display: flex; gap: 15px; flex-wrap: wrap;">
      <a href="{% url 'user_list' %}" class="edit-btn">Пользователи</a>
      <a href="{% url 'student_list' %}" class="edit-btn">Студенты</a>
      <a href="{% url 'create_group' %}" class="submit-btn">Добавить группу</a>
      <a href="{% url 'create_tag' %}" class="submit-btn">Добавить теги</a>
    </div>
  </main>
{% endblock %}
