{% extends 'base.html' %}
{% load static %}

{% block blocktitle %}
  Редактировать студента
{% endblock %}

{% block content %}
  <h1>Редактировать студента</h1>

  <div class="container">
    <div class="menu">
      <div class="page-actions">
        <a href="{% url 'custom_admin:admin_view' %}"><button class="global-btn">На главную</button></a>
        <a href="{% url 'custom_admin:student_detail' pk=student.pk %}"><button class="back-btn">⬅ Назад</button></a>
      </div>
    </div>
  </div>

  <div class="student_container">
    <div class="student_form">
      <form action="{% url 'custom_admin:student_update' student.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if student.avatar %}
          <div class="current-avatar-block">
            <p>Текущее изображение:</p>
            <img src="{{ student.avatar.url }}" alt="{{ student.name }} {{ student.surname }}" class="current-avatar" />
          </div>
        {% endif %}

        {{ form.as_p }}

        <div class="extra-links">
          <a href="{% url 'custom_admin:create_group' %}"><button type="button" class="create-btn">➕ Добавить новую группу</button></a>
          <a href="{% url 'custom_admin:create_tag' %}"><button type="button" class="create-btn">➕ Добавить новый тег</button></a>
        </div>

        <div class="student_form_button">
          <input type="submit" value="Сохранить изменения" class="submit-btn" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
